.DS_Store

# IntelliJ artifacts
.idea

# Build artifacts
/full-stack/client/vendor
full-stack/dist

# Bower artifacts
/**/vendor

# LESS artifacts
client/css

# DB artifacts
server/db/*.json

# Node artifacts
node_modules
